.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
db/schema.rb
db/structure.sql
*.swp
*.tmproj
tmtags
.project
.bundle
*.sublime-project
*.sublime-workspace
.sass-cache/
public/assets/
.env*
runic/db/schema.rb
runic/config/database.yml
config/*_secrets.json
config/google_client_refresh.json
