<%= link_to 'Edit Selected Calendars' %>

<h2>Selected Google Calendars</h2>
<% @page.selected_calendars.each do |cal| %>
  <div>
    <strong><%= cal['name'] %></strong>
    <% if cal['tags'].present? %>
      <em>(<% cal['tags'].join(', ') %>)</em>
    <% else %>
      (no tags)
    <% end %>
  </div>
<% end -%>

<h2>All Google Calendars</h2>
<% @page.discovered_calendars.each do |cal| %>
  <div>
    <strong><%= cal.summary %></strong>:
    <%= cal.description %>
  </div>
<% end -%>
